<%= render 'form' %>


<div id="main-content" class="container">
  <%= render "/leftpane" %>

    <div id= "load-list" class="subcontainer col-lg-10 col-md-10">
      <div class="col-lg-6 col-md-6 col-sm-6">
          <span> Sanity is clean </span>
      </div>
    </div> <!-- load-list -->
</div>