    <div id= "left-pane" class="col-lg-2 col-md-2">
      <div>
        <%= button_to "Add", "/nes/new", method: :get %>
        <button id="button-add" type="button" class="btn btn-primary btn-block"> Add </button>
        <button id="button-edit" type="button" class="btn btn-primary btn-block"> Edit </button>
        <button id="button-delete" type="button" class="btn btn-primary btn-block"> Delete </button>
        <button id="button-upgrade" type="button" class="btn btn-primary btn-block"> Upgrade </button>
        <button id="button-launch" type="button" class="btn btn-primary btn-block"> Launch </button>
        <button id="button-edit-profiles" type="button" class="btn btn-primary btn-block"> Edit Profiles </button>
        <button id="button-edit-profiles" type="button" class="btn btn-primary btn-block"> Edit Systems </button>
      </div>
    </div>