    <div id= "left-pane" class="col-lg-2 col-md-2">
      <div>

        <form class="button_to" method="get" action="/">
            <input class="btn btn-primary btn-block" type="submit" value="Home" />
        </form>

        <form class="button_to" method="get" action= <%= new_user_ne_path(@user) %> >
            <input class="btn btn-primary btn-block" type="submit" value="Add" />
        </form>

        <%= submit_tag "Edit", :type => 'button', :class => "btn btn-primary btn-block", :id => 'edit-button'  %>


        <form class="button_to" method="delete" action="">
            <%= submit_tag "Delete", :type => 'button', :class => "btn btn-primary btn-block", :id => 'delete-button'  %>
        </form>

        <form>
        <button id="button-upgrade" type="button" class="btn btn-primary btn-block"> Upgrade </button>
        </form>

        <form>
        <button id="button-launch" type="button" class="btn btn-primary btn-block"> Launch </button>
        </form>

        <form>
        <button id="button-edit-profiles" type="button" class="btn btn-primary btn-block"> Edit Profiles </button>
        </form>

        <form>
        <button id="button-edit-profiles" type="button" class="btn btn-primary btn-block"> Edit Systems </button>
        </form>
      </div>
    </div>


